.btn-facebook{background:#3b5998}

.btn-twitter{background:#55acee}

.background {
  position: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: auto;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

