.btn-facebook{background:#3b5998}

.btn-twitter{background:#55acee}

.background {background: url(/static/img/background.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 600px;
    min-width: 100%;
}

.img-fluid{
    min-height: 300px;
    max-height: 600px;
    height: 100%;
    width: 100%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}