<!-- extend base layout -->
{% extends "base.html" %}

{% block head %}
    <link href="/static/css/blog.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="well well-large height=100%">
        <div class="blog-header">
            <h1 class="blog-title">Brady Todhunter </h1>
            <p class="lead blog-description" ><b>Email: </b> <a href="mailto:Brady.Todhunter@gmail.com">Brady.Todhunter@gmail.com</a> <b> Phone:</b> (360) 319-9902</p>
        </div>
            <hr>
        <div class="blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Education</h2>
                <p><b>Western Governors University, </b>2012-2015</p>
                <ul>
                    <li><i>Bachelor of Science, Information Technology – Security</i></li>
                </ul>
                <p><b>Whatcom Community College, </b>2010-2012</p>
                <ul>
                    <li><i>Associate of Science, Computer Information Systems</i></li>
                    <li><b>Awards: </b>2012Technology Alliance Group Foundation scholar, 2012 Cisco Dream Team nominee</li>
                </ul>
                <h2 class="blog-post-title">Certifications</h2>
                <table border="1" cellspacing="10" cellpadding="10">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li> <p>CIW Certified Web Design, Database, &amp; JavaScript Specialist</li>
                                    <li> Cisco CCNA, CCNA Security, Certified Academy Instructor</li>
                                    <li> Linux Professional Institute LPIC-1</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> CompTIA Linux+, Network+, Security+, Project+</li>
                                    <li> NSTISSI 4011</li>
                                    <li> CNSSI 4013E</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="blog-post-title">Work Experience</h2>
                <p><b>WildTangent Inc - </b><i> Associate Systems Engineer - </i><b> January 2016-Present</b></p>
                <ul>
                    <li> Developed monitoring and backup system for production AWS environment.</li>
                    <li> Setup automation for serverless web apps &amp; RESTful API; utilizing AWS CloudFormation, Lambda &amp; API Gateway.</li>
                    <li> Worked with developers to deploy websites and applications using continuous integration tools.</li>
                    <li> Managed company WordPress sites, providing QA for all content updates.</li>
                    <li> Responsible for maintaining 99% uptime on 100+ web servers in cloud based &amp; co-located datacenter.</li>
                </ul>
                <p><b>Whatcom Community College - </b><i> Adjunct Instructor - </i><b> January 2014-June 2015</b></p>
                <ul>
                    <li> Certified instructor for Cisco CCNA Networking Academy series.</li>
                    <li> Created entire curriculum and coursework for Introduction to Linux class.</li>
                </ul>
                <p><b>National Science Foundation Cyber Patriots Camp - </b><i> Lead Mentor - </i><b> Spring 2012 &amp; 2015</b></p>
                <ul>
                    <li> Organized 28 high school students during weekly camp sessions.</li>
                    <li> Designed lesson plans to meet NSF learning objectives.</li>
                </ul>
                <p><b>Paccar Incorporated - </b><i> PC Support Intern - </i><b> June 2012-November 2012</b></p>
                <ul>
                    <li> Provided prompt technical support for over 300 employees.</li>
                </ul>
                <p><b>Bookkeeping With Integrity - </b><i> Tech Support - </i> <b> 2010-2012</b></p>
                <p><b>Sterling Health Plans - </b><i> Claims Analyst - </i><b> 2007-2010</b></p>
                <p><b>GameStop - </b><i> Assistant Manager - </i><b> 2003-2006</b></p>

                <h2 class="blog-post-title">Technical Skills</h2>
                <table border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" >
                                <ul>
                                <li> Proficient with Python, HTML, CSS, BASH</li>
                                <li> Comfortable with JavaScript, SQL, Java, Git, Ansible</li>
                                <li> Adept in the following operating systems:</li>
                                    <ul>
                                        <li> CentOS, Ubuntu, Arch Linux</li>
                                        <li> Microsoft 7, 8, 10, Windows Server 2012</li>
                                    </ul>
                                <li> Networking proficiencies:</li>
                                    <ul>
                                        <li> OSI model &amp; TCP/IP stack</li>
                                        <li> Cisco network device configuration</li>
                                        <li> PXE based OS installation</li>
                                    </ul>
                                <li> Experienced with OpenStack &amp; AWS cloud environments</li>
                                </ul>
                            </td>
                            <td valign="top" >
                                <ul>
                                <li> Specialized knowledge in data security:</li>
                                    <ul>
                                        <li> Zone based &amp; Stateful Firewall configuration</li>
                                        <li> ACL creation</li>
                                        <li> IPS/IDS implementation</li>
                                        <li> AAA integration</li>
                                        <li> VPN deployment</li>
                                        <li> Log management</li>
                                        <li> Defense in Depth</li>
                                        <li> Public Key Infrastructure</li>
                                    </ul>
                                <li> Familiar with Hyper-V, VMware &amp; KVM virtualization technologies.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}