<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
<div class="well well-large height=100%">
    <p><b>Brady Todhunter </b><b> Email</b>: <a href="mailto:Brady.Todhunter@gmail.com">Brady.Todhunter@gmail.com</a> <b>Phone</b>: (360) 319-9902</p>
    <hr>
    <p><b>Education</b></p>
    <p><b>Western Governors University, </b>2012-2015</p>
    <p><i>Bachelor of Science, Information Technology – Security</i></p>
    <p><b>Whatcom Community College, </b>2010-2012</p>
    <p><i>Associate of Science, Computer Information Systems</i></p>
    <p><b>Awards: </b>2012Technology Alliance Group Foundation scholar, 2012 Cisco Dream Team nominee</p>

    <table border="1" cellspacing="0" cellpadding="0" >
        <tbody>
            <tr>
                <td colspan="2" valign="top" >
                    <p><b>Certifications</b></p>
                </td>
            </tr>
            <tr>
                <td valign="top" >
                    <p>· CIW Certified Web Design, Database, &amp; JavaScript Specialist</p>
                    <p>· Cisco CCNA, CCNA Security, Certified Academy Instructor</p>
                    <p>· Linux Professional Institute LPIC-1</p></td>
                    <td valign="top" ><p>· CompTIA Linux+, Network+, Security+, Project+</p>
                    <p>· NSTISSI 4011</p>
                    <p>· CNSSI 4013E</p>
                </td>
            </tr>
        </tbody>
    </table>

    <p><b>Work Experience</b></p>
    <p><b>WildTangent Inc - </b><i>Associate Systems Engineer</i><b> January 2016-Present</b></p>
    <p>· Developed monitoring and backup system for production AWS environment.</p>
    <p>· Setup automation for serverless web apps &amp; RESTful API; utilizing AWS CloudFormation, Lambda &amp; API Gateway.</p>
    <p>· Worked with developers to deploy websites and applications using continuous integration tools.</p>
    <p>· Managed company WordPress sites, providing QA for all content updates.</p>
    <p>· Responsible for maintaining 99% uptime on 100+ web servers in cloud based &amp; co-located datacenter.</p>
    <p><b>Whatcom Community College - </b><i>Adjunct Instructor</i><b>January 2014-June 2015</b></p>
    <p>· Certified instructor for Cisco CCNA Networking Academy series.<b></b></p>
    <p>· Created entire curriculum and coursework for Introduction to Linux class.<b></b></p>
    <p><b></b></p>
    <p><b>National Science Foundation Cyber Patriots Camp - </b><i>Lead Mentor</i><b>Spring 2012 &amp; 2015</b></p>
    <p>· Organized 28 high school students during weekly camp sessions.</p>
    <p>· Designed lesson plans to meet NSF learning objectives.</p>
    <p><b>Paccar Incorporated - </b><i>PC Support Intern </i><b>June 2012-November 2012</b></p>
    <p>· Provided prompt technical support for over 300 employees.</p>
    <p><b>Bookkeeping With Integrity - </b><i>Tech Support</i> <b>2010-2012</b></p>
    <p><b>Sterling Health Plans - </b><i>Claims Analyst</i><b> 2007-2010</b></p>
    <p><b>GameStop - </b><i>Assistant Manager </i><b>2003-2006</b></p>

    <table border="1" cellspacing="0" cellpadding="0" >
        <tbody>
            <tr>
                <td colspan="2" valign="top" >
                    <p><b>Technical Skills</b></p>
                </td>
            </tr>
            <tr>
                <td valign="top" >
                    <p>· Proficient with HTML, CSS, JavaScript, Python, BASH, SQL, Java, Git, Ansible.</p>
                    <p>· Adept in the following operating systems:</p>
                    <p>· CentOS, Ubuntu, Arch Linux</p>
                    <p>· Microsoft Windows XP, Vista, 7, 8, 10, Windows Server 2008, 2012</p>
                    <p>· Networking proficiencies:</p>
                    <p>· OSI model &amp; TCP/IP stack</p>
                    <p>· Cisco network device configuration</p>
                    <p>· PXE based OS installation</p>
                    <p>· Experienced with OpenStack &amp; AWS dashboard and CLI tools.</p>
                </td>
                <td valign="top" >
                    <p>· Specialized knowledge in data security:</p>
                    <p>· Zone based &amp; Stateful Firewall configuration</p>
                    <p>· ACL creation</p>
                    <p>· IPS/IDS implementation</p>
                    <p>· AAA integration</p>
                    <p>· VPN deployment</p>
                    <p>· Log management</p>
                    <p>· Defense in Depth</p>
                    <p>· Familiar with Hyper-V, VMware &amp; KVM virtualization technologies.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}